/* ************************** */
/* HEADER */
/* ************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* height must be declared since we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/* ************************** */
/* NAVIGATION */
/* ************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  /* remove the underline on the links */
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  /* must be placed on the orig state */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* to make sure that .main-nav-link is always applied add the class & don't add any space at all*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
  /* the link is placed a bit lower than the rest ===> align-items: center in .main-nav-list */
  /* no need to add transition anymore since this is being applied already via 
  .main-nav-link */
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon> */

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
/* this will be applied to the header ONLY if .sticky is the parent of it ( if .sticky is present on the body ) */
.sticky .header {
  /* this will take the element out of the flow & fix it in the viewport & won't move even when we scroll */
  position: fixed;
  top: 0;
  bottom: 0;
  /* to make sure that it will fill the emtire viewport */
  width: 100%;
  /* give it a fixed height; this value is going to be used in rootMargin in JS later */
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  /* .step-img appears on top of the sticky nav; to fix it, the sticky nav  must have a z-index of a higher value */
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  /* sticky nav now covers the uppermost part of .section-hero, fix in .sticky .section-hero below .... */
  /* we want the sticky nav to appear after the hero section, this can be fixed in js, 1st,remove .sticky fr header ...... */
}

.sticky .section-hero {
  /* we want this to apply when the sticky nav appears on the header, but header is not the parent of .section-hero; what must be done is to add the .sticky not to the header but to the body instead */
  margin-top: 9.6rem;
}

/* ************************** */
/* HERO SECTION */
/* ************************** */
.section-hero {
  background-color: #fdf2e9;
  /* always use padding when using a background-color; then add same spacing on 
  .hero as well (gap) */
  padding: 4.8rem 0 9.6rem 0;
}

/* DELETE */
/* @media (max-width: 600px) {
  .section-hero {
    border: 20px dashed blue;
    background-color: blue;
  }
}

@media (max-width: 1200px) {
  .section-hero {
    background-color: orangered;
  }
} */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: blueviolet; */
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  /* we can use flexbox instead of grid since we don't really care about the size of the column */
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* instead of adding margin-bottom on the 2 buttons, add a margin-top on this class instead */
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  /* we don't usually have to set a width since it automatically gets adjusted but since there is a bug in the safari browser when the images are flex items, so, set the width to the same value to make the images squared  */
  width: 4.8rem;
  /* to make the images round, set to 50% if the img is squared */
  border-radius: 50%;
  /* will move the images 16px to the left but space between the last img & p is now gone; to resolve this, set the margin of the last img to '0' */
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ************************** */
/* FEATURED IN SECTION */
/* ************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  /* img are inline-block elements; using flexbox on images will make it easier to put spaces between the images */
  display: flex;
  justify-content: space-between;
}

.logos img {
  /* we use the height instead of the width to style the img to make them look natural */
  height: 3.2rem;
  /* will turn the img to gray but in varying degrees*/
  /* filter: grayscale(100%); */
  /* will turn the img completely black */
  filter: brightness(0);
  /* visibility of the image;this fades out the img; this is also a hack to turn the black img to gray */
  opacity: 50%;
}

/* ************************** */
/* HOW-IT-WORKS SECTION */
/* ************************** */

.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  /* use flexbox to center the image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  /* set to 50% to make the square rounded; a circle now appears on top of the image; use z-index to make image appear in front of the circle instead */
  border-radius: 50%;
  /* center an element using absolute positioning (the square w/ background-color #fdf2e9; flexbox is not used bec we want the square to occupy the exact same space as the image */
  position: absolute;
  /* then make the parent element's position relative (in .step-img-box) */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* the square is now centered but covers the image; use border-radius to make it rounded */
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; ==> if this is not working, alt way to give the same height of 60% is to use padding-bottom; it works bec it is defined on the width of the element */
  padding-bottom: 60%;
  /* this is 60% of the parent element's width; this will create an element w/ an intrinsic height of zero but then w/ a padding of 60% w/c will then make it appear like a square */
  background-color: #fdf2e9;
  z-index: -2;
  /* the image now appears in front of the circle */
}

/* this will create another circle */
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10;  ===> this also makes the image appear in front of the circle */
}

/* TINT & SHADE GENERATOR ==> https://maketintsandshades.com/ */

/* ************************** */
/* MEALS SECTION */
/* ************************** */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* to round the corners of upper left & rt corners of the img */
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  /* transform: translate(2rem, 2rem); */
  transform: translateY(-1.2rem);
  /* in order to do the animation, use the transition property on the orig state: .meal  */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

/* this class must be created so that the padding won't apply on the img, only the rest of the content */
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;

  display: flex;
  gap: 0.4rem;
}

.tag {
  /* in order to apply paddings into it */
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  /* any large value will do */
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  /* use flexbox to create space between the li items */
  display: flex;
  flex-direction: column;
  /* gap acts like 'margin-bottom', no longer like margin-rt */
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  /* to align the icons & the txt w/in the span */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  /* ht & width must be of the same size bec icons are drawn in a rectangular box */
  height: 2.4rem;
  width: 2.4rem;
  /* icons are treated like txt so using ,color' will work on the icons instead of stroke or fill */
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ************************** */
/* TESTIMONIALS SECTION */
/* ************************** */

.section-testimonials {
  /* applies on both "testimonials-container" & "gallery"; apply it on "testimonials-container" ONLY to remove the padding at the top of the imgs in "gallery"  */
  /* padding: 9.6rem 0; */
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  /* img size increases or decreases when window is resized */
  /* width: 100%;  */

  /* make the images set to a fixed width */
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  /* this gives a zoom effect when we hover over the img */
  overflow: hidden;
}

.gallery-item img {
  /* to fix the space that appears between the images ( img ==> inline element ) */
  display: block;
  /* will make all imgs fit w/in the page */
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  /* transform: rotate(45deg); */
  transform: scale(1.1);
  /* transform: scale(2.2); */
  /* to make it smooth, add 'transition' property on orig element for the animation; however, it overflows the parent element when we hover over the img; solution is to set overflow to hidden on .gallery-item   */
}

/* ************************** */
/* PRICING SECTION */
/* ************************** */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  /* transfer this to the 2nd plan to highlight it */
  /* background-color: #fdf2e9; */
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  /* adding this though seemed to push the button 2px up; to fix this, give padding to both but the 2nd plan has to be bigger by 2px */
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  /* then make the position of the parent element, .pricing-plan--complete 'relative' */
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(35deg);
  /* get the desired position of the ribbon by playing around w/ the values of top & right (the padding as well) in %; then to hide the edges that has overflowed, use 'overflow: hidden' on the parent element */
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ************************** */
/* CTA SECTION */
/* ************************** */
.section-cta {
  /* padding: 9.6rem 0 12.8rem 0; */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6%  +  1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* the darker the bg-color, the darker the shadow needs to be */
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  /* use background-img instead of background-color; the gradient is treated as though it is an image */
  /* background-image: linear-gradient(360deg, red, #e67e22); */
  /* background-image: linear-gradient(to left, red, #e67e22); */
  /* gradient can also originate fr the corners */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;

  /* temporary; remove the fixed height set earlier after finishing the form bec we want the content to dictate the height */
  /* height: 50rem; */
}

/* use the darkest color of the background for text */
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
  /* color: red; */
}

.cta .heading-secondary {
  /* .heading-secondary won't automatically inherit the color fr .cta-text-box so color must be specifically specified */
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  /* if img is too bright, overlay the same gradient on top of the img */
  /* background-image: url("../img/eating.jpg"); */
  /* ...but img underneath is now completely covered up; change colors to rgba; also, img used here is not a pc of content & is not accessible to screen reader, use 'role' & 'aria-label' in the html to fix this */
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.4),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  /* to put the label in its own line */
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  /* will have input occupy their entire parent */
  width: 100;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* always make the font-color of the placeholder lighter */
.cta-form input::placeholder {
  color: #aaa;
}

/* focus states are meant for accessibility purposes */
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* ************************** */
/* FOOTER */
/* ************************** */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;

  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
